/* Navbar styling */
.navbar {
    height: 5rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.navbar_logo {
    height: 4rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

/* Desktop menu */
.desktop_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.desktopMenuListItem {
    font-size: 17px;
    font-weight: 500;
    color: #26509A;
    cursor: pointer;
    transition: 0.3s;
}

.desktopMenuListItem:hover, .active {
    color: #4154F1;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #4154F1;
}

/* Contact button */
.desktop_menu_btn_div {
    display: flex;
    align-items: center;
}

.desktop_menu_btn {
    height: 40px;
    width: 170px;
    border-radius: 2rem;
    border: none;
    font-size: 16px;
    background-color: #26509A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.desktop_menu_btn:hover {
    background-color: #4154F1;
}

/* Mobile menu */
.mobile_menu {
    display: none;
    object-fit: cover;
    height: 2.5rem;
    cursor: pointer;
}

.nav_menu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: 15rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list_item {
    color: #4154F1;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}

.list_item:hover {
    background-color: #26509A;
    color: white;
}

.list_item.active {
    border-bottom: 2px solid #4154F1;
}

/* Responsive styling */
@media screen and (max-width: 940px) {
    .mobile_menu {
        display: block;
    }
    .desktop_menu, .desktop_menu_btn_div {
        display: none;
    }
    .navbar_logo {
        width: 10rem;
        height: 3rem;
    }
}
